@font-face {
	font-family: 'OSL';
	src: url(font/light/f.eot?) format("eot"),
		 url(font/light/f.woff) format("woff"),
		 url(font/light/f.ttf) format("truetype"),
		 url(font/light/f.svg#svgFontName) format("svg");
}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-size: 12px;
	font-family: 'OSL';
	color: #666;
}

.wrap {
	width: 350px;
	height: 150px;
	padding: 20px;
}

	h1 {
		margin-bottom: 20px;
		padding-bottom: 10px;
		font-size: 21px;
		font-weight: normal;
		text-align: center;
		border-bottom: 1px solid #F0F0F0;
	}
	.input {
		position: relative;
		width: 100%;
		height: 30px;
		border: 1px solid #aaa;
		margin-bottom: 5px;
	}
		input[type="text"] {
			width: 100%;
			height: 100%;
			padding-left: 10px;
			padding-right: 40px;
			border: 0;
		}
		input[type="text"]:focus,
		#submit:focus {
			outline: 0;
		}
		#submit {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 30px;
			border: 0;
			cursor: pointer;
			background: url(search-btn.png) 4px no-repeat;
			border-left: 1px solid #ccc;
		}
		#save {
			margin-top: 10px;
		}
		input[type="checkbox"] {
			margin-right: 5px;
			vertical-align: middle;
		}